<nav>
    <ul class="main-nav__list">
        <li class="">
    <div class="header-logo header-logo--img">
        <a href="https://ufatop1.net/index.html"><img src="https://ufatop1.net/assets/img/logo@2x.png" style="width: 50px;" srcset="https://ufatop1.net/assets/img/logo@2x.png 2x" alt="UFATOP1"></a>
    </div>
</li>
<li>
    <span id="app-name"> <%= appName %></span>
</li>
    <div class="overlay"></div>
</ul>
</nav>
