<nav>
    <a id="icon" href="https://ufatop1.net">
    <img style="width: 50px;" src="https://ufatop1.net/assets/img/logo@2x.png">
    <span></span></a>
    <span id="app-name"> <%= appName %></span>
    <div class="overlay"></div>
</nav>
