<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="btn-close">&times;</span>
            <div class="match-header">
                <div class="match-header-item">
                    <img class="match-header-logo" src="">
                    <span></span>
                    <div></div>
                </div>
                <div class="match-header-item">
                    <div class="match-header-score">
                        <span class="home-team-score"></span>
                        <span> - </span>
                        <span class="away-team-score"></span>
                    </div>
                    <div class="match-header-time">
                    </div>
                </div>
                <div class="match-header-item">
                    <img class="match-header-logo" src="">
                    <span></span>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="match-event">
            </div>
            <div class="match-detail">
                <div class="match-detail-item" data-type="date">
                    <span>วันที่</span>
                    <span></span>
                </div>
                <div class="match-detail-item" data-type="attendance">
                    <span>การเข้าร่วม</span>
                    <span></span>
                </div>
                <div class="match-detail-item" data-type="competition">
                    <span>การแข่งขัน</span>
                    <span></span>
                </div>
                <div class="match-detail-item" data-type="stadium">
                    <span>สนาม</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>